.conteiner-modal{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.579);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: fundo .5s forwards;
}

.conteiner-modal.mostrar{
    display: flex;
}

.modal{
    background-color: #ffffff;
    padding: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 12px;
    animation: modal 1s forwards;
    z-index: 10000;
}


@keyframes fundo {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes modal{
    0%{
        opacity: 0;
        transform: translateY(-60px)
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* modal de cadastro e login */

.modal h3 {
    font-size: 28px;
    font-family: var(--font-principal);
    margin-bottom: 20px;
}

#fechar {
    position: absolute;
    right: 25px;
    font-size: 25px;
    color: darkgray;
    top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.modal .form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-principal);
    align-items: center;
}

.modal .form-box button {
    padding: 10px 15px;
    font-size: 18px;
    font-family: var(--font-principal);
    border: none;
    outline: none;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--cor-verde);
}

.modal .form-box .reg {
    display: flex;
    gap: 10px;
}

/* Estilização de inputs */

.input-box {
    position: relative;
    cursor: text;
    border: 2px solid black;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    transition: .3s;
}

.input-box.teste {
    border: 2px solid darkgray;
    box-shadow: none;
    background-color: gainsboro;
}

.input-box.ativo {
    border: 2px solid blue;
    box-shadow: 0px 0px 5px rgb(93, 93, 255);
    background-color: white;
}

.form-input {
    font-size: 15px;
    background-color: transparent;
    padding: 5px;
    position: absolute;
    top: 17px;
    width: 95%;
    left: 5px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.form-label {
    position: absolute;
    top: 15px;
    left: 10px;
    color: darkgray;
    transition: .3s;
    pointer-events: none;
}

.form-input:focus~.form-label,
.form-input:not(:focus).form-input:not(:placeholder-shown)~.form-label {
    top: 3px;
    color: black;
    font-size: 13px;
}

.error-msg{
    font-size: 14px;
    color: red;
}

.input-box.error-input{
    border: 2px solid red;
}